<h1>Power Show Page</h1>
Name: <%= @power.name %> <br>
Description: <%= @power.description %> <br>
List of Heroes using this power:
<ul><% @power.heroines each do |heroine| %>
<li><%= link_to heroine.name, heroine_path(heroine) %></li>
<% end %>
</ul>
