<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<%= button_to "sort by power", filter_path, :method => "get" %>
<%= button_to "Create heroine", new_heroine_path, :method => "get" %>
