<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
  <% end %>
</ul><hr/>

<%= button_to "Create a New Heroine", new_heroine_path, method: :get %><br/>

<%= button_to "See List of Superpowers", powers_path, method: :get %>
