<h1>Heroine:</h1>
<h2>
  <p>Name: <%=@heroine.name%>
    <p>Super Name:<%=@heroine.super_name%>
<p>Super Power: <%=link_to @heroine.power.name.upcase, power_path(@heroine.power.id)%>
<p><%= link_to "Visit Heroines Page", heroines_path, method: :get%>
  </h2>
